ul.a {
  list-style-type: circle;
}

ul.b {
  list-style-type: square;
}

ol.c {
  list-style-type: upper-roman;
}

ol.d {
  list-style-type: lower-alpha;
}
body{
	background-color: #9DC9F4;
}
	
<ul>




<li><a href="index.html"><h3>Inicio</h3></a></li>


<li><a href="coliseo.html"><img src="images/coliseo.png" height=60></a></li>



<li><a href="chichen.html"><img src="images/chichen.png" height=60></a></li>



<li><a href="machu_picchu.html"><img src="images/machu_picchu.png" height=60></a></li>



<li><a href="cristo.html"><img src="images/cristo.png" height=60></a></li>



<li><a href="muralla_china.html"><img src="images/muralla.png" height=60></a></li>



<li><a href="taj_mahal.html"><img src="images/taj_mahal.png" height=60></a></li>



</ul>
