
ul.b
{
   list-style-type: none;


   margin: 0;


   padding: 0;


   overflow: hidden;


   background-color: #9DC9F4;


   }







   li {


    float: left;


   }







   li a {


    display: block;


    color: white;


    text-align: center;

 
    padding: 14px 16px;
 

    text-decoration: none;


   }







   li a:hover {


    background-color: #60AAF2;


   }




p{
	text-align: justify;
}




img.e {
  opacity: 0.8;
}

img.e :hover {
  opacity: 1.0;
}
ul.a {
  list-style-type: square;
}
body {
  background-image: url("images/avion.jpg");
}
div {
  text-align: justify;
}

p{
	text-align: justify;
}
p.s{
	text-align: justify;
	background-color: #9DC9F4;
}
h1.t{
	text-align: center;
	text-shadow: 4px 4px 5px #9DC9F4;
  	color: black;
	
}

p.g {
  color: grey;
  text-align: center;
}
p.a { 
	background-color: #D7BDE2;
	text-align: justify;
}
p.d { 
	background-color: #9DC9F4;
	text-align: justify;
}
