ul.a {
  list-style-type: circle;
}

ul.b {
  list-style-type: square;
}

ol.c {
  list-style-type: upper-roman;
}

ol.d {
  list-style-type: lower-alpha;
}
body{
	background-image: url("images/avion.jpg");
}
ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #9DC9F4;
}
li {
 float: left;
}
li a {
 display: block;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}
li a:hover {
 background-color: #60AAF2;
}

img :hover {
  opacity: 0.5;
}

p{
	text-align: justify;
}
p.s{
	text-align: justify;
	background-color: #9DC9F4;
}
h1.t{
	text-align: center;
	text-shadow: 4px 4px 5px #9DC9F4;
  	color: black;
	
}

p.g {
  color: grey;
  text-align: center;
}
